<div class="container-fluid">
    <div class="row p-5">
        <div class="col-md-12 m-auto pt-5" style="text-align: center;">
            {{#if buss}}
            <table class="table text-dark">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Bus Name</th>
                        <th scope="col">Bus Number</th>
                        <th scope="col">Is Return</th>
                        <th scope="col">Return Time</th>
                        <th scope="col">Licence Number</th>
                        <th scope="col">Maximus Seating Capacity</th>
                        <th scope="col">Reg.no</th>
                        <th scope="col">No.of Stops</th>
                        <th scope="col">Stops Name</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Owner Email Address</th>
                        <th scope="col">Owner Phone Number</th>
                        <th scope="col">Accept / Reject</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each buss}}
                    {{#unless this.isaccept}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{this.bname}}</td>
                        <td>{{this.busnumber}}</td>
                        <td>{{this.isreturn}}</td>
                        <td>{{#if this.retime}} {{this.retime}} {{else}} NaN {{/if}}</td>
                        <td>{{this.lino}}</td>
                        <td>{{this.max}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.numInputs}}</td>
                        <td>
                            {{#each stops}}
                            {{#if this.name1}}{{this.name1}},{{/if}}
                            {{#if this.name2}}{{this.name2}},{{/if}}
                            {{#if this.name3}}{{this.name3}},{{/if}}
                            {{#if this.name4}}{{this.name4}},{{/if}}
                            {{#if this.name5}}{{this.name5}},{{/if}}
                            {{#if this.name6}}{{this.name6}},{{/if}}
                            {{#if this.name7}}{{this.name7}},{{/if}}
                            {{#if this.name8}}{{this.name8}},{{/if}}
                            {{#if this.name9}}{{this.name9}},{{/if}}
                            {{#if this.name10}}{{this.name10}},{{/if}}
                            {{/each}}
                        </td>
                        <td>{{this.user.name}}</td>
                        <td>{{this.user.email}}</td>
                        <td>{{this.user.ph}}</td>
                        <td>
                            <a href="/admin/acceptbus?id={{this._id}}" class="btn btn-success mb-3" style="width: 83px;">Accept</a>
                            <a href="/admin/removebus?id={{this._id}}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h1 class="text-dark mt-5 pt-5" style="font-weight: 800; font-size: 90px;">Nothing Found...</h1>
            {{/if}}
        </div>
    </div>
</div>

<style>
    /* Style for the table */
    .table {
        background-color: #ffffff;
        /* White background color */
        color: #000;
        /* Dark text color */
        border-radius: 10px;
        /* Rounded corners */
        font-weight: 800;
    }

    /* Style for table headings */
    .table th {
        background-color: #a1aff2;
        /* Background color for headings */
        border: none;
        /* Remove border */
    }

    /* Style for table body */
    .table tbody tr:nth-child(even) {
        background-color: #e6e9f7;
        /* Alternate row color */
    }

    /* Style for table cell content */
    .table td,
    .table th {
        padding: 10px;
        /* Padding for cell content */
    }
</style>
