<div class="container-fluid">
    <div class="row pl-3 pt-5">
        <div class="col-md-3 mt-5 scrollable" style="border-radius: 12px; height:auto;">
            {{#if chatinfo}}
            {{#each chatinfo}}
            <div class="person p-2" id="{{_id}}" onclick="selectprofile('{{_id}}')" style="cursor: pointer;">
                <div class="profile-info">
                    <img src="/owner-image/{{user._id}}.jpg" alt="profile">
                    <h5 class="ml-4" id="ownername{{_id}}"><b>{{user.name}}</b></h5>
                </div>
                {{#if iszerochat}}
                <span class="badge" id="ct">{{count}}</span>
                {{else}}

                {{/if}}
            </div>
            {{/each}}
            {{else}}
            <p>No chat information available.</p>
            {{/if}}
        </div>
        <div id="extracol" class="col-md-9">
            <img src="/owner-image/welcome to admin pannal (5).png" alt="">
        </div>
        <div id="scol" class="col-md-9 pt-5 text-center" style="display: none;">
            <div
                style=" width: 100%; border-radius: 12px; box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 5px; height: auto; display: flex; justify-content: center; align-items: flex-start;">
                <div class="db mt-5" style="width: 100%;">
                    <div class="scrollable">
                        <img id="ownerdp" style="width: 250px; height: 200px; border-radius: 50%;">
                        <div class="bio mt-4">
                            <h4 id="ownername" style="font-weight: 800;"></h4>
                            <a href="https://mail.google.com/mail/u/0/#s" style="text-decoration: none;">
                                <h1 id="owneremail"><b></b></h1>
                            </a>
                        </div>
                        <div class="chat-messages">
                            <div id="chatMessages" class="chatmessag p-5"
                                style="height: 420px; display: flex; flex-direction: column;">

                            </div>
                        </div>
                    </div>

                    <div class="msgfform">
                        <form id="chatforms" class="pl-5 pr-5 pt-4 pb-4"
                            style="display: flex; align-items: center;width: 100%;">
                            <input name="chat" type="text" id="adminchatinput" class="chat-input pl-3"
                                placeholder="Type your message..."
                                style="height: 39px; width: calc(100% - 50px); border-radius: 12px; font-weight: 800; flex-grow: 1;" />
                            <button type="submit" class="submit-button text-light"
                                style="border-radius: 25% 10%; background-color: #05056b; margin-left: 10px; height: 39px; width: 50px; display: flex; align-items: center; justify-content: center;">
                                ➤
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .left,
    #firstmessageleft {
        text-align: left;
        background-color: #f0e6e7;
        padding: 15px;
        margin: 8px;
        border-radius: 30px 30px 30px 0;
        max-width: 40%;
        width: auto;
    }

    .right,
    #firstmessageright {
        text-align: right;
        padding: 15px;
        margin: 8px;
        border-radius: 30px 30px 0 30px;
        width: auto;
    }

    .person {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        box-shadow: rgba(3, 3, 3, 0.15) 0px 5px 5px 0px;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-image: linear-gradient(#0003, #000) 1;
        background-color: white;
        transition: background-color 0.7s ease;
    }

    .person.selected {
        color: white;
    }

    .profile-info {
        display: flex;
        align-items: center;
    }

    .profile-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile-info h5 {
        margin: 0;
    }

    .badge {
        background-color: black;
        color: aliceblue;
        border-radius: 50%;
        padding: 5px 10px;
    }

    .scrollable {
        overflow-y: auto;
    }
</style>

<script>
    var owneridglobal = null;

    $("#chatforms").submit((e) => {
        e.preventDefault()
        var message = document.getElementById("adminchatinput").value.trim();
        $.ajax({
            url: '/admin/adminchat',
            method: 'post',
            data: {
                chat: message,
                id: owneridglobal
            },
            success: (response) => {
                if (response.status) {
                    document.getElementById("adminchatinput").value = ""
                    selectprofile(owneridglobal)
                }

            }
        })
    })


    function selectprofile(id) {
        owneridglobal = id;
        var elements = document.getElementsByClassName('person');
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.backgroundColor = "white";
            elements[i].classList.remove('selected');
        }
        var selectedElement = document.getElementById(id);
        selectedElement.style.backgroundColor = 'hsla(0, 0%, 36%, 1)';
        selectedElement.classList.add('selected');
        $.ajax({
            url: '/admin/getownerchats',
            method: 'post',
            data: { id },
            success: (response) => {
                document.getElementById('extracol').style.display = "none"
                document.getElementById('scol').style.display = ''
                var chatContainer = document.getElementById('chatMessages');
                chatContainer.innerHTML = ''; // Clear previous chat messages
                document.getElementById('ownerdp').src = `/owner-image/${response.chat.ownerid}.jpg`;
                document.getElementById('ownername').innerHTML = response.chat.user.name;
                document.getElementById('owneremail').innerHTML = '✉';
                response.chat.message.forEach(i => {
                    var messageElement = document.createElement('div');
                    messageElement.className = 'message';
                    if (!i.fromadmin) {
                        messageElement.classList.add('left');
                        messageElement.innerHTML = i.chat;
                    } else {
                        messageElement.classList.add('right');
                        messageElement.innerHTML = i.chat;
                    }
                    chatContainer.appendChild(messageElement);

                    // Scroll to the bottom
                });
                var p = document.createElement('small');
                p.id = 'chatview'; // Set an ID to easily find and delete the element
                p.textContent = 'Sending messages will be end-to-end encrypted.';
                p.className = "mt-4"
                chatContainer.appendChild(p);
                var newMessage = document.getElementById('chatview');
                newMessage.scrollIntoView({ behavior: 'smooth' });
            }
        });
    }
</script>