<div class="container-fluid" style="height: auto; m-5">
    <div class="row pt-5 pr-5 pl-5">
        <div class="col-md-12 m-auto pt-5" style="text-align: center;">
            {{#if users}}
            <table class="table text-dark">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mail Addres</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Emergency Count</th>
                        <th scope="col">State</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each users}}

                    <tr id="row{{@index}}" onclick="moredetails({{@index}},'{{_id}}')">
                        <td>{{@index}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.ph}}</td>
                        <td id="emcount{{@index}}" valu>{{this.emergencycount}}</td>
                        <td id="emlogo{{@index}}"></td>
                        <td>
                            {{#if inactivate}}
                            <a href="/admin/inactivate?id={{_id}}" class="btn btn-outline-danger"
                                onclick="return confirm('Are You Sure To Desable This User')">Inactivate</a>
                            {{else}}
                            <a href="/admin/activate?id={{_id}}" class="btn btn-outline-success">activate</a>
                            {{/if}}
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h1 class="text-dark mt-5 pt-5 mb-5" style="font-weight: 800; font-size: 90px;">Nothing Found...</h1>
            {{/if}}
        </div>
    </div>
</div>
<div class="container-fluid m-5" id="em2">
    <div id="busInfoContainer" class="row mt-2 p-4">

    </div>
</div>
<script>

    function moredetails(id, objid) {
        var rows = document.getElementsByTagName('tr')
        for (let i = 0; i < rows.length; i++) {
            if (i % 2 == 0) {
                rows[i].style.backgroundColor = '#e6e9f7';
            }
            else {
                rows[i].style.backgroundColor = 'white';
            }

        }
        document.getElementById(`row${id}`).style.backgroundColor = "#a1aff2";
        $.ajax({
            url: '/admin/emergencybusinfo',
            method: 'post',
            data:
            {
                id: objid
            },
            success: (response) => {
                //console.log(response);
                const busInfoContainer = document.getElementById('busInfoContainer');
                busInfoContainer.innerHTML = '';

                response.forEach(bus => {
                    const busElement = document.createElement('div');
                    busElement.classList.add('col-md-3', 'm-auto', 'pl-4', 'pr-4', 'pt-5','pb-4', 'mb-3', 'text-center');

                    const stopNames = bus.stops.map(stop => {
                        return [
                            stop.name1,
                            stop.name2,
                            stop.name3,
                            stop.name4,
                            stop.name5,
                            stop.name6,
                            stop.name7,
                            stop.name8,
                            stop.name9,
                            stop.name10
                        ].filter(name => name).join(', ');
                    }).join(' →  ');


                    const pricerate = bus.dis.map(dis => {
                        return [
                            dis.dis1,
                            dis.dis2,
                            dis.dis3,
                            dis.dis4,
                            dis.dis5,
                            dis.dis6,
                            dis.dis7,
                            dis.dis8,
                            dis.dis9,
                            dis.dis10
                        ].filter(dis => dis).join(', ');
                    }).join(' → ');


                    const distance = bus.pri.map(pri => {
                        return [
                            pri.pri1,
                            pri.pri2,
                            pri.pri3,
                            pri.pri4,
                            pri.pri5,
                            pri.pri6,
                            pri.pri7,
                            pri.pri8,
                            pri.pri9,
                            pri.pri10
                        ].filter(pri => pri).join(', ');
                    }).join('  → ');

                    busElement.innerHTML = `<h2><b>${bus.bname}</b></h2>
                <p class="mt-3"><strong>Bus Number:</strong> ${bus.busnumber}</p>
                <p><strong>Starting Time:</strong> ${bus.stime}</p>
                <p><strong>Starting Date:</strong> ${bus.sdate}</p>
                <p><strong>Ending Date:</strong> <span id="edate${bus._id}">${bus.edate}</span></p>
                <p class="p-2" id="active${bus._id}"><strong> </strong></p>
                <p class="p-2" id="notactive${bus._id}"> <strong> </strong></p>
                <p><strong>Maximum Capacity:</strong> ${bus.max}</p>
                <p><strong>Reg.no:</strong> ${bus.price}</p>
                <p><strong>Emergency Count:</strong> ${bus.dateArray.length}</p>
                 <p><strong>Emergency Dates:</strong> ${bus.dateArray.join(', ')}</p>
                 <p><strong>Stops:</strong> ${stopNames}</p>
                 <p><strong>Price ₹:</strong> ${distance}</p>
                 <p><strong>Distance (KM):</strong> ${pricerate}</p>
                 <a href="/admin/report?id=${bus.userId}&busid=${bus._id}" class="btn btn-primary" style="width:40%">Report</a>`;

                    busInfoContainer.appendChild(busElement);
                    console.log(`${bus._id}`)
                    var edate = document.getElementById(`edate${bus._id}`).textContent;
                    console.log(edate)
                    let today = new Date();

                    // Convert to IST (Indian Standard Time)
                    let options = { timeZone: 'Asia/Kolkata', year: 'numeric', month: '2-digit', day: '2-digit' };
                    let formatter = new Intl.DateTimeFormat('en-CA', options); // 'en-CA' for ISO 8601 format (YYYY-MM-DD)

                    let formattedToday = formatter.format(today);
                    if (formattedToday > edate) {
                        document.getElementById(`notactive${bus._id}`).innerHTML = "Service Finish"
                        document.getElementById(`notactive${bus._id}`).style.backgroundColor = "green"
                    }
                    else {
                        document.getElementById(`active${bus._id}`).innerHTML = "Service Running..."
                        document.getElementById(`active${bus._id}`).style.backgroundColor = "red"
                    }

                });


            }
        })
    }

    var users = '{{length}}'
    for (i = 0; i < parseInt(users); i++) {

        if (parseInt(document.getElementById(`emcount${i}`).textContent) >= 50) {
            document.getElementById(`emlogo${i}`).innerHTML = "☠︎︎"
            document.getElementById(`emlogo${i}`).style.color = "red"

            document.getElementById(`emlogo${i}`).style.fontSize = "25px"
        }
        else if (parseInt(document.getElementById(`emcount${i}`).textContent) >= 25) {
            document.getElementById(`emlogo${i}`).innerHTML = "⚠"
            document.getElementById(`emlogo${i}`).style.color = "chocolate"
            document.getElementById(`emlogo${i}`).style.fontSize = "25px"
        }
        else {
            document.getElementById(`emlogo${i}`).innerHTML = "★"
            document.getElementById(`emlogo${i}`).style.color = "green"
            document.getElementById(`emlogo${i}`).style.fontSize = "25px"
        }
    }
</script>

<style>
    a:hover {
        transition: 0.5s ease-in-out;
        font-size: 20px;
    }

    .busInfoContainer {
        display: flex;
        flex-wrap: wrap;
        /* Allows wrapping to the next line if there are too many items */
        gap: 20px;
        /* Adds space between each bus-info div */
    }

    .col-md-3 {
        flex: 1 0 200px;
        /* Flex-grow, flex-shrink, and flex-basis values */
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 25% 10%;
        box-shadow: #a1aff2 0px 8px 24px, #bec7f2 0px 16px 56px, #e2e3e7 0px 24px 80px;
    }

    /* Style for the table */
    .table {
        background-color: #ffffff;
        /* White background color */
        color: #000;
        /* Dark text color */
        border-radius: 10px;
        /* Rounded corners */
        font-weight: 800;
    }

    /* Style for table headings */
    .table th {
        background-color: #a1aff2;
        /* Background color for headings */
        border: none;
        /* Remove border */
    }

    /* Style for table body */
    .table tbody tr:nth-child(even) {
        background-color: #e6e9f7;
        /* Alternate row color */
    }

    /* Style for table cell content */
    .table td,
    .table th {
        padding: 10px;
        /* Padding for cell content */
    }
</style>