<!-- Include flatpickr CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<div class="container-fluid" style="background-image: url(/images/wave\ bg.png);">
    <div class="row">
        {{#each info}}
        <div id="fdiv" class="col-md-6  p-5">
            <div class="card m-5 text-center p-5"
                style="width: 100%;box-shadow: #a1aff2 0px 8px 24px, #bec7f2 0px 16px 56px, #e2e3e7 0px 24px 80px;">
                <h1 style="font-weight: 800;">{{bname}}</h1>
                <h1 style="font-weight: 800;">{{busnumber}}</h1>
                <h3 class="mt-3" style="font-weight: 800;">Starting Time : {{stime}}</h3>
                <h3 class="mt-2" style="font-weight: 800;">Licence Number : {{lino}}</h3>
                <h3 class="mt-2" style="font-weight: 800;">Maximum Seat Capacity : {{max}}</h3>
                <h3 class="mt-2" style="font-weight: 800;">Price Pr Head : {{price}} /-</h3>
                <input id="fee" type="number" value="{{price}}" style="display: none;">
                <h3 class="mt-2" style="font-weight: 800;">Reg.No : {{_id}}</h3>
                <div class="card-body" style="font-weight: 800;">
                    <h3 class="mt-2" style="font-weight: 800;">Bus Stops</h3> <br>
                    {{#each stops}}
                    {{#if this.name1}}{{this.name1}} , {{/if}}
                    {{#if this.name2}}{{this.name2}} , {{/if}}
                    {{#if this.name3}}{{this.name3}} , {{/if}}
                    {{#if this.name4}}{{this.name4}} , {{/if}}
                    {{#if this.name5}}{{this.name5}} , {{/if}}
                    {{#if this.name6}}{{this.name6}} , {{/if}}
                    {{#if this.name7}}{{this.name7}} , {{/if}}
                    {{#if this.name8}}{{this.name8}} , {{/if}}
                    {{#if this.name9}}{{this.name9}} , {{/if}}
                    {{#if this.name10}}{{this.name10}} , {{/if}}
                    {{/each}}
                </div>
                <h3 class="mt-2" style="font-weight: 800;">Available Seats : {{available}}</h3> <br>
                <div>

                    <div id="hid" style="display: none;">
                        <small id="output" class="text-danger" style="font-weight: 800;"></small> <br>
                        <h6 id="output2" style="color: green;font-weight: 800;"></h6> <br>
                    </div>
                    <label for="" style="font-weight: 800;">Enter Number of Seats You Want &nbsp;</label> <br>
                    <input type="text" id="myInput" placeholder="Type something...">

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            // Initialize flatpickr with the range from sdate to edate
                            flatpickr('#preferredDate-{{_id}}', {
                                dateFormat: "Y-m-d",
                                minDate: "{{sdate}}",
                                maxDate: "{{edate}}"
                            });
                        });

                        document.getElementById('myInput').addEventListener('input', function () {
                            var val = parseInt(this.value)
                            console.log(val)
                            if (val <= 0 || val > '{{available}}' || isNaN(val)) {
                                document.getElementById('hid').style.display = ''
                                document.getElementById('output').innerHTML = "Invalid Selection ", val;
                                document.getElementById('output2').innerHTML = ``
                                document.getElementById('submit').style.display = "none"
                            }
                            else {
                                document.getElementById('hid').style.display = ''
                                var fee = parseInt(document.getElementById('fee').value)
                                document.getElementById('output2').innerHTML = ` Total Amount is ${(val * fee)}`
                                document.getElementById('output').innerHTML = '';
                                document.getElementById('price').value = val;
                                document.getElementById('total').value = val * fee;
                                document.getElementById('submit').style.display = ""
                            }
                        });
                    </script>
                    <form id="buspay" action="/suser/buspay" class="text-center m-auto">
                        <input id="price" type="number" placeholder="No.of Seats" name="tkno"
                            style="font-weight: 800;display: none;">
                        <input id="id" type="text" name="puser" value="{{userId}}"
                            style="font-weight: 800;display: none;">
                        <input id="id" type="text" name="id" value="{{_id}}" style="font-weight: 800;display: none;">
                        <input id="total" type="number" name="total" style="font-weight: 800;display: none;">
                        <div class="mt-3">
                            <label for="">To :</label>
                            <select name="start" id="">
                                <option value="null">Starting Stop</option>
                                {{#each stops}}
                                {{#if this.name1}}<option value="{{this.name1}}">{{this.name1}} </option> {{/if}}
                                {{#if this.name2}}<option value="{{this.name2}}">{{this.name2}} </option> {{/if}}
                                {{#if this.name3}}<option value="{{this.name3}}">{{this.name3}} </option> {{/if}}
                                {{#if this.name4}}<option value="{{this.name4}}">{{this.name4}} </option> {{/if}}
                                {{#if this.name5}}<option value="{{this.name5}}">{{this.name5}} </option> {{/if}}
                                {{#if this.name6}}<option value="{{this.name6}}">{{this.name6}} </option> {{/if}}
                                {{#if this.name7}}<option value="{{this.name7}}">{{this.name7}} </option> {{/if}}
                                {{#if this.name8}}<option value="{{this.name8}}">{{this.name8}} </option> {{/if}}
                                {{#if this.name9}}<option value="{{this.name9}}">{{this.name9}} </option> {{/if}}
                                {{#if this.name10}}<option value="{{this.name10}}">{{this.name10}} </option> {{/if}}
                                {{/each}}
                            </select>
                            <label for="" class="ml-2">From :</label>
                            <select name="end" id="">
                                <option value="null">End Stop</option>
                                {{#each stops}}
                                {{#if this.name1}}<option value="{{this.name1}}">{{this.name1}} </option> {{/if}}
                                {{#if this.name2}}<option value="{{this.name2}}">{{this.name2}} </option> {{/if}}
                                {{#if this.name3}}<option value="{{this.name3}}">{{this.name3}} </option> {{/if}}
                                {{#if this.name4}}<option value="{{this.name4}}">{{this.name4}} </option> {{/if}}
                                {{#if this.name5}}<option value="{{this.name5}}">{{this.name5}} </option> {{/if}}
                                {{#if this.name6}}<option value="{{this.name6}}">{{this.name6}} </option> {{/if}}
                                {{#if this.name7}}<option value="{{this.name7}}">{{this.name7}} </option> {{/if}}
                                {{#if this.name8}}<option value="{{this.name8}}">{{this.name8}} </option> {{/if}}
                                {{#if this.name9}}<option value="{{this.name9}}">{{this.name9}} </option> {{/if}}
                                {{#if this.name10}}<option value="{{this.name10}}">{{this.name10}} </option> {{/if}}
                                {{/each}}
                            </select>
                            <div id="selectdate" class="mt-3">
                                <label for="preferredDate"><b>Choose Preferred Dates</b></label>
                                <input type="text" id="preferredDate-{{_id}}" class="mb-4" name="preferredDates"
                                    placeholder="Select dates" required>
                            </div>
                        </div>
                        <input id="submit" class="mt-3" type="submit" value="Book Now" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
        <div id="sdiv" class="col-md-6 mt-5">
            <img class="img-fluid" src="/addimage/bwbus-removebg-preview.png" alt="">
        </div>
    </div>
</div>




<style>
    .container-fluid {
        width: 100%;
        background-image: url('/images/wave bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #fdiv,
    #sdiv {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    #fdiv {
        animation: moveLeftToRight 2s linear forwards;
    }

    #sdiv {
        animation: moveLeftToRight 2s linear forwards;
    }

    @keyframes moveLeftToRight {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
</style>