<div class="container-fluid" style="background-color: #15181e;">
    <div class="row p-5 text-center">
        <div class="col-md-12 m-5 pt-4">
            <h1 class="mr-5 text-light">BUS TICKETS</h1>
        </div>
        {{#each tickets}}
        {{#if pay}}
        <div class="col-md-3 m-auto">
            <div class="card mt-5 mb-4 ml-5"
                style="width: 18rem; border-radius: 12px; position: relative;box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;">
                <div class="card-body">
                    <h3 class="card-title" id="bname">{{this.Bus.bname}}</h3>
                    <h6 class="card-title">Bus Number : {{this.Bus.busnumber}}</h6>
                    <h6 class="card-title">Starting Time : {{this.Bus.stime}} From {{#each this.Bus.stops}}
                        {{this.name1}} {{/each}}</h6>
                    {{#if emergency}}
                    <img class="card-img-top" src="/images/no-qr.png" alt="QR Code">
                    {{else}}
                    {{#if expired}}
                    <img class="card-img-top" src="/images/exp.jpg" alt="QR Code">
                    {{else}}
                    <img class="card-img-top" src="/javascripts/qrcodes/{{this._id}}.png" alt="QR Code">
                    {{/if}}
                    {{/if}}


                    <h6 class="card-title mt-4">Valid For <span style="font-size: 22px;"
                            id="predate">{{this.preferredDates}}</span> Only</h6>

                    <h6 class="card-title mt-4">Ticket Price : {{this.total}}/- for {{tkno}} Tickets</h6>

                    <h6 class="card-title mt-4">Your Stops : <i>From</i> {{this.start}} <i>To</i> {{this.end}}</h6>

                    <p class="card-title mt-4"><i>Thank you for your cooperation.
                            Have a nice day.</i>
                    </p>
                    <div>
                        {{#if emergency}}

                        {{else}}
                        {{#if expired}}
                        <a href="/suser/clearexticket?id={{this._id}}" class="text-danger"
                            style="text-decoration: none;">clear 🗑</a>
                        {{/if}}
                        {{/if}}

                    </div>
                    {{#if emergency}}
                    <img src="/images/cancelled.png" alt="Validated" class="seal" style="z-index: 2;">
                    {{else}}
                    {{#if this.isvalidated}}
                    <img src="/images/green-seal.png" alt="Validated" class="seal" style="z-index: 2;">
                    {{else}}
                    {{#if expired}}
                    <img id="eximage" src="/images/expired-removebg-preview.png" alt="Validated" class="seal"
                        style="z-index: 2;">
                    {{/if}}
                    {{/if}}
                    {{/if}}

                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<style>
    .container-fluid {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-weight: 800;
        font-family: fantasy;
        text-shadow: 2px 2px 4px rgba(66, 94, 237, 0.8);
    }

    .seal {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 150px;
        height: 150px;
    }

    #bname {
        font-weight: 800;
        font-family: fantasy;
        text-shadow: 2px 2px 4px rgba(66, 94, 237, 0.8);
    }

    h6 {
        font-weight: 800;
        font-family: fantasy;

    }
</style>
<script>
    var a = document.getElementById('bname').innerHTML
    document.getElementById('bname').innerHTML = a.toUpperCase();
</script>